*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.container{
width: 1450px;
margin: 0 auto;
}
        
/*Header css*/
header{ 
background-color: #fff;
height: 100px;
z-index: 99;
width: 100%;
top: 0;
}
        
.container_header{
width: 85%;
height: 100%;
display: flex;
justify-content: space-between;
align-items: center;
}
        
.nav_header{
display: flex;
width: 24vw;
}
        
.nav_header a{
font-size: 25px;
text-decoration: none;
margin-right: 33px;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
    
.nav1{
color: #4BB34E;
}
    
.sair{
color: red;
}
/*Sextou!*/

.container_consultas{
background-image: url(../img/richard-catabay-05kHY7AYCp8-unsplash1.png);
background-position: 30% 45%;
-webkit-background-size: cover;
-moz-background-size: cover;
background-size: cover;
-o-background-size: cover;
height: 924px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
    
.div_consultas{
width: 1147px;
height: 92px;
background-color: #3CA834;
display: flex;
justify-content: center;
align-items: center;
}
    
h1{
color: white;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: 400;
font-size: 37px;
}

/*Tabela css*/
table{
width: 1147px;
height: 577px;
background-color: white;
}

th {
background-color: rgb(216, 213, 213);
border-right: 3px solid black;
border-left: 3px solid black;
  }
/*.tr_th{
background-color: rgb(145, 145, 145);
border-bottom: 3px solid black;
border-right: 3px solid black;
border-left: 3px solid black;
}*/

td{
text-align: center;
border-bottom: 2px solid rgb(105, 105, 105);
}
/*Sextou!*/

/*footer css*/
.container_footer{
width: 100%;
height: 64px;
display: flex;
justify-content: center;
align-items: center;
}
            
h2{
color: #4BB34E;
font-size: 23px;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*Sextou!*/