*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.container{
width: 1200px;
margin: 0 auto;
}
/*Header css*/
header{
background-color: #fff;
height: 100px;
z-index: 99;
width: 100%;
top: 0;
}

.container_header{
display: flex;
justify-content: space-between;
align-items: center;
}

.nav_header{
display: flex;
width: 10vw;
}

.nav_header a{
font-size: 25px;
text-decoration: none;
color: #4BB34E;
margin-right: 37px;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*Sextou!*/

/*Banner introdução css*/
.container_intro{
width: 100%;
height: 550px;
background-image: url(../img/bannerintro.png);
background-position: 30% 45%;
-webkit-background-size: cover;
-moz-background-size: cover;
background-size: cover;
-o-background-size: cover;
align-items: center;
display: flex;
justify-content: center;
flex-direction: column;
} 

.container_intro h1{
font-size: 90px;
font-weight: 400 /*fino*/;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color: #fff;
text-transform: uppercase;
/*border-bottom:  4px solid #7BD941;*/
}

.container_intro span{
font-size: 35px;
color: #fff;
}

.container_intro hr{
background-color: #7BD941;
border-radius: 3px;
border: none;
width: 656px;
height: 8px;
}
/*Sextou!*/

/*Sobre Nós css*/
.container_sobre{
width: 100%;
height: 650px;
display: flex;
background-image:url(../img/degradeverde.png);
background-position: 30% 45%;
-webkit-background-size: cover;
-moz-background-size: cover;
background-size: cover;
-o-background-size: cover;
}

.sobre_nos{
width: 480px;
height: 400px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.sobre_nos h2{
font-size: 57px;
color: #fff;
/*border-bottom:  4px solid #7BD941;*/
}
.sobre_nos hr{
background-color: #7BD941;
border-radius: 3px;
border: none;
width: 226px;
height: 8px;
}

.sobre_nos p{
    color: #fff;
    font-size: 20px;
}