*{
margin: 0;
padding: 0;
box-sizing: border-box;
}


.body_login{
height: 100vh;
overflow: hidden;
display: flex;
}


.conteudo1{
width: 907px;
display: flex;
align-items: center;
}

.conteudo2{
width: 45%;
}

.page_full{
width: 100%;
height: 100%;
display: flex;
}

.banner_login{
width: 750px;
height: 100%;
}

.btn_div{
width: 200px ;
height: 60px;
}

.botao_voltar{
margin-left: 524px;
margin-top: 20px;
width: 120px;
height: 52px;
border: none;
border-radius: 14px;
color:  #fff;
background-color:  #2AE05E;
border-color: #fff;
box-shadow: 0 0 40px 40px #3CA834 inset, 0 0 0 0 #3CA834;
-webkit-transition: all 150ms ease-in-out;
transition: all 150ms ease-in-out;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.botao_voltar:hover {
box-shadow: 0 0 10px 0 #fff inset, 0 0 10px 4px #3CA834;
}

.login_form{
width: 450px;
height: 700px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.input_login{
width: 417px;
height: 57px;
padding: 5%;
background: #CDF9CC;
border: 1px solid #3CA834;
border-radius: 10px;
margin-bottom: 17px,;
}

.input_login::placeholder{
color: #fff;
margin-top: 7px;
}

.form_login{
width: 257px;
height: 257px;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
}

.botao_enviar{
width: 177px;
height: 60px;
border: none;
border-radius: 7px;
color:  #fff;
font: bold 15px arial, sans-serif;
background-color:  #2AE05E;
border-color: #fff;
box-shadow: 0 0 40px 40px #3CA834 inset, 0 0 0 0 #3CA834;
-webkit-transition: all 150ms ease-in-out;
transition: all 150ms ease-in-out;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


.img_login{
height: auto; 
width: auto; 
max-width: 762.5px; 
max-height: 777px;
}